<header  class=" bg-gray-200 flex align-middle justify-center " > 
  <nav class="text-blue-900 container flex align-middle justify-between p-4">
  <div >
    <h1 class="font-bold uppercase  mx-auto">Z_<span class="text-orange-600">Breed</span>  
    </h1>
  </div>
  <!-- nav -->
  <div class="flex space-x-4 list-none">
    <li><a class="hover:text-blue-600 transition-all duration-500 ease-in-out" href="/">Blogs</a></li>
    <li><a class="hover:text-blue-600 transition-all duration-500 ease-in-out" href="/about">About</a></li>
    <li><a class="hover:text-blue-600 transition-all duration-500 ease-in-out" href="/blogs/create">New Blogs</a></li>
  </div>
</nav>
</header>