<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link rel="stylesheet" href="/src/output.css">
  <title>My Website</title>

</head>
<body>
  <!-- Your EJS content using Tailwind CSS classes -->
  <div class="bg-gray-200 p-4">
    <h1 class="text-xs font-bold uppercase underline">Hello, tailbitch!</h1>
    <!-- ... -->
  </div>
</body>
</html>
