<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <%-include ('./partials/header.ejs')%>
<body>
  <!-- Your EJS content using Tailwind CSS classes -->
  <%-include ('./partials/navbar.ejs')%>
  
  <div class="text-center mt-4">
      <button class="bg-blue-950 hover:scale-105 p-2 text-white rounded-md hover:bg-blue-800 transition-all duration-500 ease-in-out">Click Me</button>
    </div>
</body>
</html>
